@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 324 6% 12%;
  --muted: 300 5% 95%;
  --muted-foreground: 324 6% 40%;
  --popover: 0 0% 100%;
  --popover-foreground: 324 6% 12%;
  --card: 0 0% 100%;
  --card-foreground: 324 6% 12%;
  --border: 325 5% 91%;
  --input: 325 5% 91%;
  --primary: 325 90% 66%;  /* Pink */
  --primary-foreground: 0 0% 100%;
  --secondary: 275 85% 65%; /* Purple */
  --secondary-foreground: 0 0% 100%;
  --accent: 300 80% 88%;
  --accent-foreground: 300 50% 20%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --ring: 325 70% 66%;
  --radius: 0.5rem;
}

.dark {
  --background: 325 45% 15%;
  --foreground: 0 0% 100%;
  --muted: 324 35% 20%;
  --muted-foreground: 0 0% 90%;
  --popover: 325 45% 15%;
  --popover-foreground: 0 0% 100%;
  --card: 325 45% 15%;
  --card-foreground: 0 0% 100%;
  --border: 324 35% 25%;
  --input: 324 35% 25%;
  --primary: 325 90% 75%;
  --primary-foreground: 0 0% 100%;
  --secondary: 275 85% 70%;
  --secondary-foreground: 0 0% 100%;
  --accent: 300 80% 70%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 62% 65%;
  --destructive-foreground: 0 0% 100%;
  --ring: 325 70% 75%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}